body{
    font-family: "Arial Black";
    font-size: 20px;
}

table, th, td {
    margin: auto;
    border: 1px solid black;
    border-spacing: 5px;
    border-collapse: separate;
}

td {
    background-color: lightgrey;
    width: 100px;
    height: 100px;
    text-align: center;
}

.movements {
    text-align: center;
    margin-bottom: 20px;
}