html{
    height: 100%;
    background-image: linear-gradient(peachpuff, papayawhip);
}

body{
    font-family: "Arial Black";
    font-size: 20px;
}

.header{
    font-family: "JetBrains Mono ExtraBold";
    padding-bottom: 50px;
    text-align: center;
}

table, th, td {
    margin: auto;
    border-spacing: 5px;
    border-collapse: separate;
}

table {
    border: 3px solid lightgrey;
}

td {
    background-color: lightgrey;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 7px;
}

.movements {
    text-align: center;
    margin-bottom: 20px;
}